// VARIABLES

$principal-color: #fed136;
$secondary-color: #212529;


// GRAY SCALE
$white: rgb(255, 255, 255);
$light-gray: #7a7a7a;
$gray: #343a40;
$dark-gray: #212529;
$black: rgb(0, 0, 0);


// Fonts
$logo-font: 'Kaushan Script', cursive;

// ANIMATION
$transition-time: 0.3s;